<div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6  col-xs-6 center-block" style="font-style: italic; padding-top: 10px;">
          <div class="row">
            MlB Draft is an American company
          </div>
          <div style="font-size:9.5px; padding-left:40px;" class="row center-block">
            @2019 mlbdraft.com
          </div>
        </div>
        <div class="col-sm-2  col-xs-4 " style="font-size: 9.5px;">
          <div>Contact Us</div>
          <ul class="list-unstyled">
            <li><i class="glyphicon glyphicon-globe"></i> Clearwater, FL</li>
            <li><i class="glyphicon glyphicon-phone"></i> 555.555.5555</li>
            <li><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:info@mlbdraft.com">info@mlbdraft.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>